<!DOCTYPE html>
<html ng-app="app">
  <head>
    <title>My index</title>
    <!-- vendorInject:css -->
    <!-- endinject -->

    <!-- inject:css -->
    <!-- endinject -->
  </head>
  <body ng-controller="Login">

    <nav class="navbar navbar-default">
      <div class="container">
        <button ng-show="isAuthenticated()" class="btn btn-primary navbar-btn" ui-sref="post">New Post</button>
        <button ng-show="isAuthenticated()" class="btn btn-link navbar-btn" ui-sref="posts">My Posts</button>
        <button ng-show="isAuthenticated()" class="btn btn-link navbar-btn pull-right" ng-click="logout()">Logout</button>
      </div>
    </nav>

    <div class="container">
      <div ng-hide="isAuthenticated()" class="col-sm-8 col-md-6 col-md-offset-3 col-sm-offset-2">
        <div class="jumbotron">
          <h1>make a post!</h1>
          <h2>...or two</h2>
          <button class="btn-large btn btn-primary" ng-click="login()">Login</button>
        </div>
      </div>
      <div ng-if="isAuthenticated()" ui-view></div>
    </div>

    <!-- vendorInject:js -->
    <!-- endinject -->

    <!-- inject:js -->
    <!-- endinject -->

  </body>
</html>
